<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
      integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">

    <title>COTTON PLANT DISEASE PREDICTION</title>
  </head>

  <body>
    <button type="button" id="home-button" class="home">Home</button>
    <div>
      <img
        src="/static/images/cotton_plant_banner.jpg"
        class="w3-border w3-padding"
        alt="Indian AI Production"
        style="width: 100%"
      />
    </div>

    <div class="container my-2">
      <div class="row mb-5">
        <div class="col-sm" style="margin-bottom: 23px">
          <span class="border border-primary">
            <img
              src="{{ user_image }}"
              alt="User Image"
              class="img-thumbnail"
            />
            <!-- <img src="{{pred_output}}" alt="User Image" class="img-thumbnail"> -->
          </span>
        </div>

        <div class="col-sm">
          <div>
            <h1
              style="
                padding: 15px;
                background-color: rgb(153, 156, 150);
                color: white;
              "
              class="text-center mb-5 content-h1 rounded"
            >
              Bacterial Blight
            </h1>
          </div>
          <div>
            <p><b>Bacterial Blight </b>in cotton is a disease caused by the bacterium Xanthomonas citri pv. 
              malvacearum, affecting all growth stages of the plant and leading to significant agricultural losses.
            </p>
            <br>
            <p><b>Appearence </b>Symptoms begin as small, water-soaked lesions on leaves, which become angular due to vein restriction.
              Lesions may turn dark brown or black, often surrounded by a yellow halo.</p>
            <br>
            <p><b>Damage </b>Bacterial blight causes stunted growth, defoliation, and reduced fiber quality.
              Severe infections can lead to significant yield losses, impacting the overall productivity of cotton crops.</p>
          </div>

          <hr class="w-100 mx-auto" />
        </div>
      </div>

      <h1>Solution for Diseases</h1>
    </div>

    <section>
      <div class="container">
        <h1
          style="
            padding: 15px;
            background-color: rgb(153, 156, 150);
            color: white;
          "
          class="text-center my-3 content-h1"
        >
          Recommended Products
        </h1>
      </div>

      <div class="container">
        <div class="card-columns">
          <div class="card">
            <div class="card-body text-center card-style">
              <img
                style="border-radius: 10px"
                class="img-fluid"
                src="/static/Bacterial/carboxin.png"
                alt=""
              />
            </div>
            <h3>Carboxin</h3>
          </div>
          <div class="card">
            <div class="card-body text-center card-style">
              <img
                style="border-radius: 10px"
                class="img-fluid"
                src="/static/Bacterial/copper.png"
                alt=""
              />
            </div>
            <h3>Copper Oxychloride</h3>
          </div>
          <div class="card">
            <div class="card-body text-center card-style">
              <img
                style="border-radius: 10px"
                class="img-fluid"
                src="/static/Bacterial/strepto.png"
                alt=""
              />
            </div>
            <h3>Streptomycin Sulfate</h3>
          </div>
        </div>
      </div>
    </section>
    <script>
      document.getElementById('home-button').onclick = function() {
        window.location.href = "{{ url_for('home') }}"; // Adjust 'home' to your route name
      };
    </script>
  </body>
</html>
