<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css"
      integrity="sha384-VCmXjywReHh4PwowAiWNagnWcLhlEJLA5buUprzK8rxFgeH0kww/aWY76TfkUoSX"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=arrow_back" />
    <title>Late Blight</title>
  </head>

  <body>
    <button type="button" id="home-button" class="home">
        <span class="material-symbols-outlined">arrow_back</span>
    </button>

    <div class="container my-2">
      <div class="row mb-5">
        <div class="col-sm" style="margin-bottom: 23px">
          <span class="border border-primary">
            <img
              src="{{ user_image }}"
              alt="User Image"
              class="img-thumbnail"
            />
            <!-- <img src="{{pred_output}}" alt="User Image" class="img-thumbnail"> -->
          </span>
        </div>
        <div class="col-sm">
          <div>
            <h1
              style="
                padding: 15px;
                background-color: rgb(153, 156, 150);
                color: white;
              "
              class="text-center mb-5 content-h1 rounded"
            >
              Late Blight
            </h1>
          </div>
          <div>
            <p><b>Late Blight </b>of potato is a devastating disease caused by the oomycete pathogen Phytophthora infestans.
                It can rapidly destroy potato crops in favorable cool, wet conditions.</p>
            <br>
            <p><b>Symptoms</b></p>
            <ul>
                <li>Irregular water-soaked spots that enlarge rapidly, turning brown to purplish-black.</li>
                <li>A white, cottony growth (fungal sporangia) may be visible on the underside of lesions, especially in humid conditions.</li>
            </ul>
            <br>
            <p><b>Measures </b></p>
            <ul>
                <li>Ensure adequate spacing between plants for good air circulation.</li>
                <li>Hill potatoes to protect tubers from infection.</li>
                <li>Remove and destroy infected plant debris and cull piles to eliminate sources of inoculum.</li>
            </ul>
          </div>

          <hr class="w-100 mx-auto" />
        </div>
      </div>

      <h1>Solution for Diseases</h1>
    </div>

    <section>
      <div class="container">
        <h1
          style="
            padding: 15px;
            background-color: rgb(153, 156, 150);
            color: white;
          "
          class="text-center my-3 content-h1"
        >
          Recommended Products
        </h1>
      </div>

      <div class="container">
        <div class="card-columns">
          <div class="card">
            <div class="card-body text-center card-style">
              <img
                style="border-radius: 10px"
                class="img-fluid"
                src="/static/fungicides/fluazinam.png"
                alt=""
              />
            </div>
            <h3>Fluazinam</h3>
            <p>These fungicides can be used to kill spores and protect tubers.  </p>
          </div>
          <div class="card">
            <div class="card-body text-center card-style">
              <img
                style="border-radius: 10px"
                class="img-fluid"
                src="/static/fungicides/mancozeb.png"
                alt=""
              />
            </div>
            <h3>Mancozeb</h3>
            <p>Used as a base and combined with other fungicides.</p>
          </div>
          <div class="card">
            <div class="card-body text-center card-style">
              <img
                style="border-radius: 10px"
                class="img-fluid"
                src="/static/fungicides/infinito.png"
                alt=""
              />
            </div>
            <h3>Infinito</h3>
            <p>Used to protect and cure crops from late blight.</p>
          </div>
        </div>
      </div>
    </section>
    <script>
      document.getElementById('home-button').onclick = function() {
        window.location.href = "{{ url_for('home') }}"; // Adjust 'home' to your route name
      };
    </script>
  </body>
</html>
