body{
    margin: 0;
    padding: 0;
}
.banner-area h2 {
    font-family: poppins;
    font-size: 65px;
    margin: 0 0 25px; 
}
.banner-area{
    width: 100%;
    height: 100vh;
    background: url('../images/balance.jpg');
    background-size: cover; /* This makes sure the image covers the entire background */
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 2vw;
    color: #1e70eb;
}
.btn{
    text-decoration: none;
    padding: 10px 50px;
    color: #fff;
    background-color: #000;
    border:3px solid #fff;
    border-radius: 20px;
    transition: 0.6s ease;
    animation: animate 2s 1;
    font-size: 15px;
    font-weight: 900;
}
.btn:hover{
    background-color: #fff;
    color: #000;
    border: 3px solid #fff;
}
@keyframes animate {
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}
h2{
    animation: animate 2s 1;
}


@media (max-width: 600px){
    nav {
width: 100%;
left: 10px;
}
    nav a {
font-size: 11px;
margin-right: 7px;
}
    .banner-area h2 {
font-size: 28px;
}
}
